/*Slider*/
.slideshow-container {

  max-width: 1000px;
  position: relative;
  margin: 5px auto 0 auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*Box-type1*/
.type1-box {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 1em;
	border-bottom:2px solid #d4af37;
	padding: 20px 20px 0 20px;
	margin: 20px 6% 30px 6%;
	grid-auto-rows: minmax(510px, auto);

}


.type1-mini-box {
	display: grid;
	grid-template-rows: 70% 30%;
	/*border:2px solid black;*/
}

.type1-mini-box img {
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	width: 100%;
	height: 100%;
}

.type1-image-box {
	/*border:2px solid red;*/
}

.type1-image-text {
	/*padding: 0 15px;*/
	/*border:2px solid red;*/
	margin-top: 10px;
	overflow: auto;
	/*background-color: #F8F8F8;*/
}

.type1-image-text p:nth-child(1) {
	margin: 0 30px 15px 10px;
	font-size: 20px;
	font-family: 'Jost', sans-serif;
	font-size: 22px;
	text-align: justify;
}

.type1-image-text p:nth-child(2) {
	margin: 0 30px 0 10px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}

.type1-image-text li {
	margin: 0 30px 0 10px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}