/*Slider*/
.slideshow-container {

  max-width: 1000px;
  position: relative;
  margin: 5px auto 0 auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.type2-box {
	display: grid;
	grid-template-columns: 35% 65%;
	padding: auto 0;
	grid-auto-rows: minmax(650px, auto);
	border-radius: 20px;
}

.type2-box-v2 {
	display: grid;
	grid-template-columns: 65% 35%;
	padding: auto 0;
	grid-auto-rows: minmax(650px, auto);
	border-radius: 20px;
}

.type2-box-v2 {
	/*background: #ecf4f3; testare*/
	/*background: #6a9c78;*/
	background: white;
}



.type2-box:nth-child(odd) {
	/*background: #d2f3e0; testare*/
	background: #F8F8F8;

}

.type2-box-img {
	margin: auto 0 auto 0;
	height: 600px;	

}

.type2-box-img img {
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	width: 100%;
	height: 100%;
	border: 2px solid #032d3c;
  	border-radius: 12px;
  	box-shadow: 5px 2px 5px #434982;
}

.type2-box-text {
	margin: auto 50px;
	height: 500px;
}

.type2-box-text p:nth-child(1) {
	text-align: center;
	margin: 20px auto 40px;
	font-size: 50px;
	font-family: 'Jost', sans-serif;
}

.type2-box-text p:nth-child(n+2) {
	margin: 0 40px 20px;
	font-family: 'Jost', sans-serif;
	font-size: 28px;
	text-align: justify;
	color: #282828;
}

.title {

}

.title span {
	font-size:34px;
	color :red;
}